<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='scripts/main.js') }}"></script>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='styles/main.css') }}">
    <!-- <link rel="stylesheet" type="text/css" href="styles/main.css" /> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <title>Chat System</title>
</head>

<body>

<h1>Prototype - Conversational Interface</h1>
<div class="center">
    <button id="btn_chat_send" class="button button3" style="display: none;" onclick="send_chat()">Chat</button>
    <button  class="button button3" style="display: none;" onclick="clearSearch()">Clear</button>

    <div class="chat_div" id="chat_window_div"></div>
    <input id="input_keywords" type="text" name="keywords" placeholder="Start Chat by typing here..."/><br /><br />
</div>

<br />
<div id="div_sol", class="center_left"></div>

<div id="modal-popup" class="modal-bg">

        <div class="close">+</div>
    <div class="modal-contents">HaEddY


    </div>

</div>



<div class="center">
    <img src="{{ url_for('static', filename='images/chatbot002.png') }}"/>

</div>

</body>
</html>
